<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GlobalRoamPackages" value="https://pkgs.dev.azure.com/global-roam/_packaging/GlobalRoamPackages/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <GlobalRoamPackages>
      <add key="Username" value="developers@global-roam.com" />
      <add key="ClearTextPassword" value="%AZURE_DEVOPS_TOKEN%" />
    </GlobalRoamPackages>
  </packageSourceCredentials>
</configuration>